@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

body {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.navbar-list {
  display: flex;
  justify-content: end;
  list-style: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navbar-items {
  margin-left: 33px;
}

.navbar-items:last-child {
  margin-right: 15px;
}

.hi {
  margin-top: 151px;
}

.hi-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hi-text {
  max-width: 506px;
}

.hi-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  font-family: "Heebo", sans-serif;
  color: #21243d;
}

.hi-text__span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.hi-text__button {
  background-color: #ff6464;
  border-radius: 2px;
  padding: 17px 21px;
  border: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 46px;
}

.recent {
  background-color: #edf7fa;
  margin-top: 71px;
  height: 400px;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-header div {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
}

.recent-header p {
  color: #00a8cc;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.recent-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-left {
  width: 418px;
  background-color: #ffffff;
}

.wrapper-left__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 17px;
}

.wrapper-left__p {
  display: flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
  position: relative;
  margin-left: 25px;
}

.design {
  margin-left: 56px;
}

.wrapper-left__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 368px;
  margin-left: 25px;
}

.wrapper-right {
  width: 418px;
  background-color: #ffffff;
}

.wrapper-right__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 17px;
}

.wrapper-right__p {
  display: flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
  position: relative;
  margin-left: 25px;
}

.figma {
  margin-left: 56px;
}

.wrapper-right__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 368px;
  margin-left: 25px;
}

.featured {
  margin-top: 40px;
}

.featured-header {
  margin-top: 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
  margin-bottom: 22px;
}

.featured-card {
  display: flex;
  /* align-items: center; */
}

.featured-card__left {
  margin-right: 18px;
}

.featured-card__right {
}

.featured-card__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin: 0;
}

.featured-year {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.year {
  background: #142850;
  border-radius: 16px;
  padding: 1px 10px;
  color: #ffffff;
}

.dashboard {
  margin-left: 20px;
  font-family: "Heebo";
  font-style: normal;
  color: #8695a4;
}

.featured-card__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 594px;
}

.featured-underline {
  margin-top: -10px;
  margin-bottom: 20px;
  color: gray;
}

.footer {
  margin-top: 85px;
}

.footer-links {
 display: flex;
 justify-content: center;
}

.footer-links img {
  margin-left: 35px;
}

.footer-links img:first-child{
  margin-left: 0;
}

.rights {
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243d;
}
