@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

body {
  box-sizing: border-box;
}

.hi {
  background-image: url("/images/");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header {
  position: relative;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.burger-menu {
  display: none;
  position: absolute;
  right: 10px;
  bottom: 100px;
}

/* .burger-menu img{
  display: flex;
} */

.navbar-list {
  display: flex;
  justify-content: end;
  list-style: none;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.navbar-items {
  margin-left: 33px;
}

.navbar-items:last-child {
  margin-right: 15px;
}

.hi {
  margin-top: 151px;
}

.hi-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hi-text {
  max-width: 506px;
}

.hi-text__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  font-family: "Heebo", sans-serif;
  color: #21243d;
}

.hi-text__span {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
}

.hi-text__button {
  background-color: #ff6464;
  border-radius: 2px;
  padding: 17px 21px;
  border: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
  margin-top: 46px;
}

.recent {
  background-color: #edf7fa;
  margin-top: 71px;
  height: 400px;
}

.recent-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-header div {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
}

.recent-header p {
  color: #00a8cc;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.recent-wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper-left {
  width: 418px;
  background-color: #ffffff;
}

.wrapper-left__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 17px;
}

.wrapper-left__p {
  display: flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
  /* position: relative; */
  margin-left: 25px;
}

.design {
  margin-left: 56px;
}

.wrapper-left__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  /* width: 368px; */
  width: 80%;
  margin-left: 25px;
}

.wrapper-right {
  width: 418px;
  background-color: #ffffff;
}

.wrapper-right__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243d;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 17px;
}

.wrapper-right__p {
  display: flex;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #21243d;
  /* position: relative; */
  margin-left: 25px;
}

.figma {
  margin-left: 56px;
}

.wrapper-right__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 80%;
  margin-left: 25px;
}

.featured {
  margin-top: 40px;
}

.featured-header {
  margin-top: 20px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243d;
  margin-bottom: 22px;
}

.featured-card {
  display: flex;
  /* align-items: center; */
}

.featured-card__left {
  margin-right: 18px;
}

.featured-card__right {
}

.featured-card__title {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243d;
  margin: 0;
}

.featured-year {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.year {
  background: #142850;
  border-radius: 16px;
  padding: 1px 10px;
  color: #ffffff;
}

.dashboard {
  margin-left: 20px;
  font-family: "Heebo";
  font-style: normal;
  color: #8695a4;
}

.featured-card__text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #21243d;
  width: 594px;
}

.featured-underline {
  margin-top: -10px;
  margin-bottom: 20px;
  color: gray;
}

.footer {
  margin-top: 85px;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-links img {
  margin-left: 35px;
}

.footer-links img:first-child {
  margin-left: 0;
}

.rights {
  text-align: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #21243d;
}

@media (max-width: 800px) {
  .navbar-list {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .hi-content {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: center;
  }

  .recent {
    padding-bottom: 320px;
    position: relative;
  }

  .recent-header p {
    display: none;
  }

  .recent-header div {
    margin: 20px auto;
  }

  .recent-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .wrapper-right {
    margin-top: 20px;
  }


  .featured-card__text{
    word-wrap: break-word;
    width: 100%;
  }
}

@media (max-width:670px){
  .featured-header{
    text-align: center;
  }
  
  .featured-card{
    flex-wrap: wrap;
    justify-content: center;
  }

  .featured-card__title{
    text-align: center;
  }

  .featured-year{
    justify-content: center;
  }
  .featured-card__text{
    text-align: center;
  }

}

@media (max-width:393px){
  .wrapper-left{
    width: 80%;
  }
  .wrapper-right{
    width: 80%;
  }
  .left-text__p{
    width: 60%;
  }
  .right-text__p{
    width: 60%;
  }
  .recent {
    padding-bottom: 480px;
}
}

@media (max-width:375px){
  /* .left-text__p{
    width: 200px;
  } */

  .wrapper-right__text{
    width:240px;
  }

  .wrapper-left__text{
    width:240px;
  }

  .left-text__p{
    width: 22gi0px;
  }
}

@media (max-width:320px){
  .recent {
    padding-bottom: 700px;
}

.right-text__p{
  width: 95%;
}

}